body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #001827;
    color: white;
}
#Menu {
    display: none;
}
.Navleiste {
    background-color: #00253B;

}
.Logos {
    background-color: #00253B;
    display: flex;
    justify-content: space-between;
}
.Navleiste h2 {
    display: none;
}
.Endurance-Logo {
    width: 11em;
    margin: 0.938em 0 0.4em 1.3em;
}
.Endurance-Menu {
    width: 2.35em;
    height: 2.35em;
    margin: 0.938em 1.5em 0.4em 0;
}
.Banner {
    display: none;
}
.We_are_Endurance {
    margin-top: 1.7em;
}
.Information_Endurance {
    margin: 1.7em 4.313em 4em;
}
.Intro {
    border-style: none;
    width: 20.438em;
    margin-bottom: 3em;
}
.Games {
    background-color: #001D2E;
    padding: 1.25em 0;
}
.Header_Games {
    margin-bottom: 2.25em;
}
.four-Games div {
    display: flex;
    margin: 2em 1.5em;
}
.a {
    width: 3em;
    margin-right: 1em;
}
.four-Games p {
    font-size: 1.3rem;
}
.Unser_Discord h1 {
    margin: 2em 0 1em;
}
.Unser_Discord p {
    margin: 0 4.313em 3em;
}
.Discord {
    width: 18em;
    height: 28em;
    margin-bottom: 3em;
}
.Up {
    margin: 0em 3em 2em;
}
.Impressum {
    background-color: #001D2E;
    width: 100%;
    display: flex;
}
.Impressum a {
    text-decoration: none;
    margin: 1em;
    color: white;
    width: 100%;
}

@media (min-width: 730px) {

    .Intro {
        width: 35em;
    }
    .Impressum a {
        margin: 1em;
    }
    .Up {
        float: right;
    }

}

@media (min-width: 930px) {

    body {
        text-align: unset;
    }
    .Navleiste h2 {
        display: flex;
        margin-right: 2em;
        font-size: 1.8rem;
        padding: 0.5em 0;
        float: right;
    }
    .Logos {
        justify-content: unset;
        display: unset;
    }
    .Endurance-Logo {
        width: 23.5em;
    }
    .Endurance-Menu {
        float: right;
        width: 4.375em;
        height: 4.375em;
        margin-top: 1.375em;
    }
    .Banner {
        display: flex;
    }
    .End_header {
        width: 100%;
    }
    .Navleiste {
        position: fixed;
        width: 100%;
        opacity: 86%;
    }
    .Video_Begrüßung {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-areas: 
            "video content";
    }
    .Begrüßung {
        grid-area: content;
        margin-top: 7.188em;
    }
    .Intro {
        position: relative;
        width: 90%;
        margin: 7.188em 3.125em 12.188em 4.375em;
        grid-area: video;
    }
    .Begrüßung {
        margin-left: 4.375em;
    }
    .We_are_Endurance {
        margin: 0;
        font-size: 4rem;
    }
    .Information_Endurance {
        margin: 2em 0;
        font-size: 1.5rem;
    }

}