body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #001827;
    color: white;
}
#Menu {
    display: none;
}
.Logos {
    display: flex;
    justify-content: space-between;
    background-color: #00253B;
}
.Endurance-Logo {
    width: 11em;
    margin: 0.938em 0 0.7em 1.25em;
}
.Endurance-Menu {
    width: 2.35em;
    height: 2.35em;
    margin: 0.938em 1.25em 0.7em 0;
}
.We_are_Endurance {
    margin-top: 1.7em;
}
.Information_Endurance {
    margin: 1.7em 4.313em 4em;
}
.Intro {
    width: 20.438em;
    margin-bottom: 3em;
}
.Games {
    background-color: #001D2E;
    padding: 1.25em 0;
}
.Header_Games {
    margin-bottom: 2.25em;
}
.four-Games div {
    display: flex;
    margin: 2em 1.5em;
}
.a {
    width: 3em;
    margin-right: 1em;
}
.four-Games p {
    font-size: 1.3rem;
}
.Unser_Discord h1 {
    margin: 2em 0 1em;
}
.Unser_Discord p {
    margin: 0 4.313em 3em;
}
.Discord {
    width: 18em;
    height: 28em;
    margin-bottom: 3em;
}
.Up {
    float: right;
    margin: 0 1em 2em;
}
.Impressum {
    display: flex;
    margin-top: 1.5em;
}
.Impressum a {
    margin: 1em 2em;
    text-decoration: none;
    color: white;
}